@model IllustrationDetailViewModel


    <div class="middle-section">
        <div class="container">
            <div class="blue-background">
                <div class="row">
                    <div class="col-lg-4 col-sm-6"><p>Name:<br><span>@Model.PartnerName</span></p></div>
                    <div class="col-lg-4 col-sm-6"><p>Organisation:<br><span>@Model.PartnerOrganisation</span></p></div>
                    <div class="col-lg-4 col-sm-12"><p>Email:<br><span>@Model.PartnerEmail</span></p></div>
                    <hr class="blue-line">
                    <div class="col-lg-4 col-sm-6"><p>Name / Reference:<br><span>@Model.ClientName</span></p></div>
                    <div class="col-lg-4 col-sm-6"><p>Client Type:<br><span>@Model.ClientType</span></p></div>
                </div>
            </div>
            <h4 class="heading-1">Summary</h4>
            <div class="summary-gray-backgrund">
                <div class="row">
                    <div class="col-lg-4 col-sm-4"><p>Total deposited:<br><span>@Model.TotalDeposit</span></p></div>
                    <div class="col-lg-4 col-sm-4"><p>Annual gross interest earned:<br><span>@Model.ProposedPortfolio.AnnualGrossInterestEarned</span></p></div>
                    <div class="col-lg-4 col-sm-4"><p>Annual net interest earned:<br><span>@Model.ProposedPortfolio.AnnualNetInterestEarned</span></p></div>
                    <hr class="gray-line">
                    <div class="col-lg-4 col-sm-4"><p>Gross average yield:<br><span>@Model.ProposedPortfolio.GrossAverageYield</span></p></div>
                    <div class="col-lg-4 col-sm-4"><p>Net average yield:<br><span>@Model.ProposedPortfolio.NetAverageYield</span></p></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-10 offset-lg-1 col-sm-12">
                <h4 class="heading-1">Deposits</h4>
                <div class="deposits-table">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-4">Institution</th>
                                <th class="col-3">Term</th>
                                <th class="col-2 right">Rate</th>
                                <th class="col-3 right">Deposit Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < @Model.ProposedPortfolio.ProposedInvestments.Count(); i++)
                            {
                                <tr class="d-flex">
                                    <a href="#">
                                        <td class="col-4">@Model.ProposedPortfolio.ProposedInvestments[i].InstitutionName</td>
                                        <td class="col-3">@Model.ProposedPortfolio.ProposedInvestments[i].InvestmentTerm</td>
                                        <td class="col-2 right">@Model.ProposedPortfolio.ProposedInvestments[i].Rate</td>
                                        <td class="col-3 right">@Model.ProposedPortfolio.ProposedInvestments[i].DepositSize</td>
                                    </a>
                                </tr>

                            }

                        </tbody>
                    </table>
                    <p class="gray-light-small">*Please click on a row to update deposit details</p>
                </div>
                <div class="clear1"></div>
                <div class="right">
                    <a href="#" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-primary">Generate Illustration</button>
                </div>

            </div>
        </div>
    </div>